SESSION_SECRET = 6tbVWrW4g1GfSqJ5X9fjungMdQu/bmprDN8P4F0kouee++n4e29xUOL9f80jiE6jFB5PVNU+EdcZgByn5P5f/A==
DATABASE_URL = postgresql://neondb_owner:npg_a1HrG3WiClkg@ep-black-resonance-a51zoepm.us-east-2.aws.neon.tech/neondb?sslmode=require
PGDATABASE = neondb
PGHOST = ep-black-resonance-a51zoepm.us-east-2.aws.neon.tech
PGPORT = 5432
PGUSER = neondb_owner
PGPASSWORD = npg_a1HrG3WiClkg
NODE_ENV = development